* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #111;
  --btn-bg: black;
  --btn-text: white;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #fff;
  --btn-bg: white;
  --btn-text: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
}

.theme-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: var(--btn-bg);
  color: var(--btn-text);
  opacity: 0.5;
}

/* body.dark .theme-btn {
  background: white;
  color: black;
} */

.theme-btn:hover {
  opacity: 1;
  transform: scale(1.1);
  cursor: pointer;
}

.theme-btn:active {
  transform: scale(1);
}
