* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  text-decoration: underline;
  font-style: italic;
}

.filter-buttons-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.filter-buttons-wrapper button {
  padding: 5px 8px;
  border-radius: 10px 0 10px 0;
  border: none;
  background: rgba(0, 0, 0);
  color: white;
  opacity: 0.7;
}

.filter-buttons-wrapper button:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.filter-buttons-wrapper button:active {
  transform: scale(1);
}

.hide {
  display: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 32%;
  font-size: 18px;
  padding: 20px;
  background-color: gray;
  color: white;
}
