* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: linear-gradient(90deg, black, rgb(52, 2, 2));
  color: white;
  border: 1px solid ghostwhite;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.recipe-list .recipe-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid darkred;
  padding: 20px;
  border-radius: 20px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.recipe-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.ingredient {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  color: lightblue;
  font-family: sans-serif;
}

.rating {
  color: yellow;
}

.details-btn {
  padding: 5px 8px;
  border-radius: 10px;
  background: linear-gradient(90deg, red, blue);
  color: white;
  cursor: pointer;
}

.loader {
  display: none;
}

.loader.show {
  display: block;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top: 3px solid yellow;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: animatedLoader 1s linear infinite;
}

.recipe-list.hide {
  display: none;
}

@keyframes animatedLoader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
